In [2]:
import pandas as pd
import numpy as np
import os

In [1]:
data_1 = 'data/resale-flat-prices-based-on-approval-date-1990-1999.csv'
data_2 = 'data/resale-flat-prices-based-on-approval-date-2000-feb-2012.csv'
data_3 = 'data/resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv'
data_4 = 'data/resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv'
data_5 = 'data/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv'

In [3]:
def readCSV(file_path):
    df = pd.read_csv(file_path)
    return df

In [17]:
df1 = readCSV(data_1)

In [18]:
df2 = readCSV(data_2)

In [19]:
df3 = readCSV(data_3)

In [20]:
df4 = readCSV(data_4)

In [21]:
df5 = readCSV(data_5)

In [22]:
### Drop remaining_lease in df4 and df5
df4 = df4.drop(columns=['remaining_lease'])
df5 = df5.drop(columns=['remaining_lease'])

In [23]:
### Merge every df
df_list = [df1,df2,df3,df4,df5]
merged_df = pd.concat(df_list)

In [25]:
merged_df.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object')

In [27]:
merged_df['town'].unique()

array(['ANG MO KIO', 'BEDOK', 'BISHAN', 'BUKIT BATOK', 'BUKIT MERAH',
       'BUKIT TIMAH', 'CENTRAL AREA', 'CHOA CHU KANG', 'CLEMENTI',
       'GEYLANG', 'HOUGANG', 'JURONG EAST', 'JURONG WEST',
       'KALLANG/WHAMPOA', 'MARINE PARADE', 'QUEENSTOWN', 'SENGKANG',
       'SERANGOON', 'TAMPINES', 'TOA PAYOH', 'WOODLANDS', 'YISHUN',
       'LIM CHU KANG', 'SEMBAWANG', 'BUKIT PANJANG', 'PASIR RIS',
       'PUNGGOL'], dtype=object)

In [26]:
merged_df['flat_type'].unique()

array(['1 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', '2 ROOM', 'EXECUTIVE',
       'MULTI GENERATION', 'MULTI-GENERATION'], dtype=object)

In [24]:
merged_df['flat_model'].unique()

array(['IMPROVED', 'NEW GENERATION', 'MODEL A', 'STANDARD', 'SIMPLIFIED',
       'MODEL A-MAISONETTE', 'APARTMENT', 'MAISONETTE', 'TERRACE',
       '2-ROOM', 'IMPROVED-MAISONETTE', 'MULTI GENERATION',
       'PREMIUM APARTMENT', 'Improved', 'New Generation', 'Model A',
       'Standard', 'Apartment', 'Simplified', 'Model A-Maisonette',
       'Maisonette', 'Multi Generation', 'Adjoined flat',
       'Premium Apartment', 'Terrace', 'Improved-Maisonette',
       'Premium Maisonette', '2-room', 'Model A2', 'DBSS', 'Type S1',
       'Type S2', 'Premium Apartment Loft', '3Gen'], dtype=object)

In [35]:
merged_df[merged_df['flat_type'] == 'EXECUTIVE']

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
333,1990-01,BEDOK,EXECUTIVE,716,BEDOK RESERVOIR RD,07 TO 09,143.0,APARTMENT,1984,200000.0
334,1990-01,BEDOK,EXECUTIVE,725,BEDOK RESERVOIR RD,01 TO 03,151.0,MAISONETTE,1984,195000.0
394,1990-01,BUKIT BATOK,EXECUTIVE,223,BT BATOK EAST AVE 3,10 TO 12,141.0,APARTMENT,1985,182000.0
395,1990-01,BUKIT BATOK,EXECUTIVE,223,BT BATOK EAST AVE 3,07 TO 09,146.0,APARTMENT,1985,183000.0
396,1990-01,BUKIT BATOK,EXECUTIVE,221,BT BATOK EAST AVE 3,07 TO 09,141.0,APARTMENT,1985,210000.0
...,...,...,...,...,...,...,...,...,...,...
147821,2023-03,BEDOK,EXECUTIVE,115,BEDOK RESERVOIR RD,04 TO 06,156.0,Maisonette,1985,850000.0
147837,2023-03,CHOA CHU KANG,EXECUTIVE,273,CHOA CHU KANG AVE 2,01 TO 03,143.0,Apartment,1993,650000.0
147838,2023-03,CHOA CHU KANG,EXECUTIVE,448,CHOA CHU KANG AVE 4,13 TO 15,143.0,Maisonette,1997,790000.0
147848,2023-03,HOUGANG,EXECUTIVE,132,LOR AH SOO,04 TO 06,151.0,Maisonette,1984,840000.0
147855,2023-03,JURONG WEST,EXECUTIVE,859,JURONG WEST ST 81,01 TO 03,146.0,Maisonette,1997,700000.0

In [36]:
merged_df[merged_df['flat_model'] == 'Premium Apartment Loft']

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
15819,2015-11,PUNGGOL,5 ROOM,306A,PUNGGOL PL,16 TO 18,147.0,Premium Apartment Loft,2012,760000.0
24883,2016-05,PUNGGOL,5 ROOM,305A,PUNGGOL RD,16 TO 18,147.0,Premium Apartment Loft,2012,788000.0
31893,2016-09,PUNGGOL,5 ROOM,305D,PUNGGOL DR,16 TO 18,147.0,Premium Apartment Loft,2012,780000.0
36640,2016-12,PUNGGOL,5 ROOM,270A,PUNGGOL FIELD,16 TO 18,149.0,Premium Apartment Loft,2013,835000.0
36646,2016-12,PUNGGOL,5 ROOM,270B,PUNGGOL FIELD,16 TO 18,149.0,Premium Apartment Loft,2013,722800.0
...,...,...,...,...,...,...,...,...,...,...
133552,2022-08,QUEENSTOWN,4 ROOM,92,DAWSON RD,31 TO 33,95.0,Premium Apartment Loft,2016,965888.0
135980,2022-09,PUNGGOL,5 ROOM,268C,PUNGGOL FIELD,16 TO 18,149.0,Premium Apartment Loft,2013,1198000.0
136062,2022-09,QUEENSTOWN,4 ROOM,92,DAWSON RD,07 TO 09,97.0,Premium Apartment Loft,2016,965000.0
144938,2023-01,PUNGGOL,5 ROOM,268B,PUNGGOL FIELD,16 TO 18,149.0,Premium Apartment Loft,2013,1220000.0
147094,2023-02,QUEENSTOWN,4 ROOM,91,DAWSON RD,40 TO 42,95.0,Premium Apartment Loft,2016,1188888.0

In [30]:
merged_df[merged_df['lease_commence_date'] >= 2000]

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
84187,2002-04,QUEENSTOWN,4 ROOM,181,STIRLING RD,07 TO 09,96.0,Model A,2000,380000.0
92477,2002-07,CHOA CHU KANG,EXECUTIVE,671,CHOA CHU KANG CRES,04 TO 06,141.0,Premium Apartment,2000,410000.0
103114,2002-10,WOODLANDS,4 ROOM,684C,WOODLANDS DR 62,10 TO 12,103.0,Premium Apartment,2000,215000.0
105405,2002-11,SEMBAWANG,EXECUTIVE,408,SEMBAWANG DR,13 TO 15,130.0,Apartment,2001,371000.0
107744,2002-12,JURONG WEST,5 ROOM,517C,JURONG WEST ST 52,13 TO 15,115.0,Improved,2000,313000.0
...,...,...,...,...,...,...,...,...,...,...
147896,2023-03,TOA PAYOH,5 ROOM,138C,LOR 1A TOA PAYOH,07 TO 09,110.0,DBSS,2012,1068000.0
147900,2023-03,WOODLANDS,4 ROOM,573C,WOODLANDS DR 16,10 TO 12,93.0,Model A,2018,543000.0
147902,2023-03,WOODLANDS,5 ROOM,694C,WOODLANDS DR 62,01 TO 03,113.0,Improved,2018,605000.0
147904,2023-03,YISHUN,3 ROOM,673C,YISHUN AVE 4,13 TO 15,68.0,Model A,2018,437000.0
147908,2023-03,YISHUN,4 ROOM,513C,YISHUN ST 51,07 TO 09,93.0,Model A,2018,550000.0

In [79]:
prop_data = resale_2017[['town', 'flat_type', 'block', 'street_name',
                       'floor_area_sqm', 'flat_model', 'lease_commence_date']]

In [80]:
prop_data

,town,flat_type,block,street_name,floor_area_sqm,flat_model,lease_commence_date
0,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,44.0,Improved,1979
1,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,67.0,New Generation,1978
2,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,67.0,New Generation,1980
3,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,68.0,New Generation,1980
4,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,67.0,New Generation,1980
...,...,...,...,...,...,...,...
147905,YISHUN,3 ROOM,270,YISHUN ST 22,74.0,Model A,1987
147906,YISHUN,4 ROOM,236,YISHUN RING RD,93.0,New Generation,1985
147907,YISHUN,4 ROOM,279,YISHUN ST 22,84.0,Simplified,1985
147908,YISHUN,4 ROOM,513C,YISHUN ST 51,93.0,Model A,2018
147909,YISHUN,5 ROOM,820,YISHUN ST 81,122.0,Improved,1988

In [86]:
len(prop_data_2)

28639

In [95]:
prop_data_2 = prop_data.drop_duplicates(subset=['town','flat_type','block','street_name','flat_model','floor_area_sqm'])
prop_data_2[(prop_data_2['town'] == 'BEDOK') & (prop_data_2['block'] == '188B')]

Empty DataFrame
Columns: [town, flat_type, block, street_name, floor_area_sqm, flat_model, lease_commence_date]
Index: []

In [102]:
resale_2017[(resale_2017['town'] == 'MARINE PARADE')]

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
666,2017-01,MARINE PARADE,3 ROOM,66,MARINE DR,01 TO 03,65.0,Improved,1976,58 years 02 months,360000.0
667,2017-01,MARINE PARADE,3 ROOM,32,MARINE CRES,10 TO 12,76.0,Improved,1975,57 years 04 months,420000.0
668,2017-01,MARINE PARADE,4 ROOM,55,MARINE TER,10 TO 12,88.0,Improved,1975,57 years,538000.0
669,2017-01,MARINE PARADE,4 ROOM,62,MARINE DR,07 TO 09,87.0,Improved,1976,58 years,580000.0
1743,2017-02,MARINE PARADE,3 ROOM,5,MARINE TER,07 TO 09,65.0,Improved,1975,56 years 11 months,375000.0
...,...,...,...,...,...,...,...,...,...,...,...
146869,2023-02,MARINE PARADE,3 ROOM,59,MARINE TER,04 TO 06,76.0,Improved,1975,51 years 04 months,450000.0
146870,2023-02,MARINE PARADE,4 ROOM,61,MARINE DR,10 TO 12,87.0,Improved,1976,52 years 01 month,590000.0
146871,2023-02,MARINE PARADE,4 ROOM,76,MARINE DR,10 TO 12,82.0,Improved,1976,52 years 04 months,680000.0
146872,2023-02,MARINE PARADE,5 ROOM,3,MARINE TER,04 TO 06,122.0,Standard,1975,51 years,645888.0
146873,2023-02,MARINE PARADE,5 ROOM,14,MARINE TER,07 TO 09,120.0,Standard,1975,51 years,838000.0

In [89]:
df

,rent_approval_date,town,block,street_name,flat_type,monthly_rent,num
0,2021-01,PUNGGOL,272A,PUNGGOL WALK,5 ROOM,2600,0
1,2021-01,JURONG WEST,187,BOON LAY AVE,3 ROOM,1600,1
2,2021-01,BEDOK,188B,BEDOK NTH ST 4,4 ROOM,2200,2
3,2021-01,BUKIT MERAH,95B,HENDERSON RD,3 ROOM,2300,3
4,2021-01,CHOA CHU KANG,484A,CHOA CHU KANG AVE 5,4 ROOM,1900,4
...,...,...,...,...,...,...,...
79322,2023-02,SENGKANG,434B,FERNVALE RD,5 ROOM,3500,79322
79323,2023-02,YISHUN,350,YISHUN AVE 11,4 ROOM,3500,79323
79324,2023-02,TOA PAYOH,35,LOR 5 TOA PAYOH,5 ROOM,3900,79324
79325,2023-02,GEYLANG,12,PINE CL,3 ROOM,3250,79325
79326,2023-02,JURONG WEST,661A,JURONG WEST ST 64,5 ROOM,3400,79326

In [90]:
new_df = pd.merge(df, prop_data_2,  how='left', left_on=['town','flat_type','block'], right_on = ['town','flat_type','block'])

In [91]:
new_df[new_df['town'] == 'JURONG WEST']

,rent_approval_date,town,block,street_name_x,flat_type,monthly_rent,num,street_name_y,floor_area_sqm,flat_model,lease_commence_date
1,2021-01,JURONG WEST,187,BOON LAY AVE,3 ROOM,1600,1,BOON LAY AVE,59.0,Improved,1978.0
2,2021-01,JURONG WEST,187,BOON LAY AVE,3 ROOM,1600,1,BOON LAY AVE,68.0,Improved,1978.0
27,2021-01,JURONG WEST,698C,JURONG WEST CTRL 3,4 ROOM,2600,14,JURONG WEST CTRL 3,93.0,Model A,2017.0
28,2021-01,JURONG WEST,698C,JURONG WEST CTRL 3,4 ROOM,2600,14,JURONG WEST CTRL 3,83.0,Model A,2017.0
197,2021-01,JURONG WEST,658A,JURONG WEST ST 65,5 ROOM,2500,101,JURONG WEST ST 65,110.0,Improved,2001.0
...,...,...,...,...,...,...,...,...,...,...,...
168338,2023-02,JURONG WEST,661C,JURONG WEST ST 64,5 ROOM,3650,79275,JURONG WEST ST 64,110.0,Improved,2001.0
168424,2023-02,JURONG WEST,181B,BOON LAY DR,2 ROOM,2700,79314,BOON LAY DR,47.0,Model A,2014.0
168425,2023-02,JURONG WEST,181B,BOON LAY DR,2 ROOM,2700,79314,BOON LAY DR,47.0,2-room,2014.0
168428,2023-02,JURONG WEST,824,JURONG WEST ST 81,5 ROOM,1900,79316,JURONG WEST ST 81,121.0,Improved,1990.0
168443,2023-02,JURONG WEST,661A,JURONG WEST ST 64,5 ROOM,3400,79326,JURONG WEST ST 64,110.0,Improved,2001.0

In [110]:
new_df[new_df['floor_area_sqm'].isna()]['town'].unique()

array(['BEDOK', 'CENTRAL', 'HOUGANG', 'TOA PAYOH', 'QUEENSTOWN', 'YISHUN',
       'BISHAN', 'CLEMENTI', 'BUKIT BATOK', 'GEYLANG', 'SEMBAWANG',
       'PUNGGOL', 'TAMPINES', 'ANG MO KIO', 'SENGKANG', 'PASIR RIS',
       'JURONG WEST', 'MARINE PARADE', 'CHOA CHU KANG', 'BUKIT MERAH',
       'WOODLANDS', 'JURONG EAST', 'SERANGOON', 'BUKIT TIMAH',
       'KALLANG/WHAMPOA', 'BUKIT PANJANG'], dtype=object)

In [119]:
def checkUniqueColumns(df1,df2,column):
    df1_list = df1[column].unique().tolist()
    df2_list = df2[column].unique().tolist()
    x = list(set(df1_list) - set(df2_list))
    return x

In [120]:
print(checkUniqueColumns(df,resale_2017,'town'))
print(checkUniqueColumns(df,resale_2017,'street_name'))

['CENTRAL']
['JLN SATU', 'BEDOK NTH DR', 'ALKAFF CRES', 'WOODLEIGH LINK', 'BIDADARI PK DR', 'TAMPINES ST 62', 'SENJA CL', 'SENGKANG WEST RD', 'TAMPINES AVE 12', 'UBI RD 3', 'NORTHSHORE DR', 'NORTHSHORE CRES', 'YISHUN ST 43', 'JLN AYER', 'YISHUN ST 44', 'CANBERRA VIEW', 'TAMPINES ST 61', 'MARGARET DR', 'PINE LANE', 'TAMPINES NTH DR 1']